* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  border: none; }

ul,
p {
  margin: 0; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1;
  /*IE/7/6*/ }

.el-form-item__error {
  top: 50%;
  right: 0;
  margin-top: -8.5px;
  left: auto;
  margin-right: 10px; }

.none {
  display: none; }

.red {
  color: red;
  vertical-align: middle; }

.mar10 {
  margin: 10px; }

.el-table th,
.el-table tr {
  text-align: center; }

.el-form--inline .el-row .el-col .el-form-item {
  display: flex; }

.el-form--inline .el-row .el-col .el-form-item .el-form-item__content {
  flex: 1; }

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%; }
